<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>some website</title>
</head>
<body>
    {{> header }}
    <!-- helper argument[0] argument[1] ... -->
    <p>{{ screamIt welcomeMessage }}</p>

    {{> footer }}
</body>
</html>